.footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #dee2e6;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .nav-button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
    border-color: #c7c7dc;

}

.footer .nav-button:hover {
    background-color: #e9ecef;
    color: #0056b3;
}
.footer .nav-button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.footer .nav-left,
.footer .nav-right {
    display: flex;
    gap: 10px;
}

.footer-text {
    margin: 0;
    color: #6c757d;
}

.footer .nav-right {
    margin-left: auto;
}